{% extends "layout.html" %}

{% block body %}
<div class="container-fluid">
  <div class="body advert">
    <!-- 面包屑 -->
    <ol class="breadcrumb">
      <li><a href="/advert">广告管理</a></li>
      <li class="active">广告列表</li>
    </ol>
    <div class="page-title">
      <a href="/advert/add" class="btn btn-success btn-sm pull-right">添加广告</a>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <form action="" class="form-inline">
          <select name="" class="form-control input-sm">
            <option value="">按年龄</option>
          </select>
          <select name="" class="form-control input-sm">
            <option value="">按性别</option>
          </select>
          <select name="" class="form-control input-sm">
            <option value="">按地区</option>
          </select>
          <select name="" class="form-control input-sm">
            <option value="">按日期</option>
          </select>
          <button class="btn btn-success btn-sm">筛选</button>
        </form>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <td>序号</td>
            <th>标题</th>
            <th>图片</th>
            <th>链接</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>点击次数</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody id="tbody"></tbody>
      </table>
    </div>
    <!-- 分页 -->
    <ul class="pagination pull-right" id="pagination">
    </ul>
  </div>
</div>
<script type="text/template" id="tpl">
  <% adverts.forEach(function (item, index) { %>
  <tr>
    <td><%= (page - 1) * 5 + index + 1 %></td>
    <td><%= item.title %></td>
    <td>
      <img src="/public/uploads/<%=item.image%>" style="width: 100px" alt="">
    </td>
    <td><%= item.link %></td>
    <td><%= item.start_time.substr(0, 10) %></td>
    <td><%= item.end_time.substr(0, 10) %></td>
    <td>126</td>
    <td>
      <a href="javascript:;" class="btn btn-info btn-xs">编辑</a>
      <a href="javascript:;" class="btn btn-danger btn-xs" id='delete-btn' data-id="<%= item._id %>" data-page="<%= page %>">删除</a>
    </td>
  </tr>
  <% }) %>
</script>
{% endblock %}

{% block script %}
<script src="/node_modules/art-template/lib/template-web.js"></script>
<script src="/node_modules/twbs-pagination/jquery.twbsPagination.min.js"></script>

<script>
  var pageSize = 5
  // $.ajax({
  //   url: '/advert/count',
  //   type: 'get',
  //   dataType: 'json',
  //   success: function (data) {
  //     if (data.err_code === 0) {
  //       pagination(Math.ceil(data.count / pageSize), 1)
  //     }
  //   }
  // })

  // 获取总页码 & 加载当前页面
  function getTotalPageAndInit(currentPage) {
    $('#pagination').twbsPagination('destroy')
    $.ajax({
      url: '/advert/count',
      type: 'get',
      dataType: 'json',
      success: function (data) {
        if (data.err_code === 0) {
          var totalPage = Math.ceil(data.count / pageSize)
          pagination(totalPage, currentPage)
        }
      }
    })
  }

  function pagination(totalPage, currentPage) {
    $('#pagination').twbsPagination({
      totalPages: totalPage,
      visiblePages: 7,
      onPageClick: function (event, page) {
        if(currentPage != 1) {
          page = currentPage
        }        
        // console.log(currentPage)
        console.log(page)
        loadAdvert(page)
      }
    })
  }

  function loadAdvert(page) {
    $.ajax({
      url: '/advert/list',
      type: 'get',
      data: {
        page: page,
        pageSize: pageSize
      },
      dataType: 'json',
      success: function (data) {
        if (data.err_code === 0) {
          if (data.adverts.length != 0) {
            var htmlStr = template('tpl', { adverts: data.adverts, page: page })
            $('#tbody').html(htmlStr)
            $('body').scrollTop(0)
          } else {
            // loadAdvert(page -1)
            getTotalPageAndInit(page - 1)
          }
        }
      }
    })
  }

  // 初始化页面
  getTotalPageAndInit(1)

  // 删除
  $('#tbody').on('click', '#delete-btn', function () {
    var page = $(this).data('page')
    var id = $(this).data('id')
    $.ajax({
      url: '/advert/delete',
      type: 'get',
      data: {
        id: id
      },
      dataType: 'json',
      success: function (data) {
        if (data.err_code === 0) {
          // $('#delete-btn').parent().parent().remove()
          loadAdvert(page)
        }
      }
    })
  })
</script>
{% endblock %}